body{
    margin:0;
    padding: 0;
}

.navbar{
    position: absolute;
}

.nav-principais{
    
    list-style-type: none;
    padding: 20px;
}

.ul-navbar li a{
    text-decoration: none;
    color: black;
}

.ul-navbar{

    display: flex;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 3px black ;
}

.dropdown{
    list-style-type: none;
}
.dropdown-item{
    display: block;
}

.dropdown{
    position: relative;
    
    display: block;
    box-shadow: 1px 1px 3px black ;
    padding: 10px;
    background-color: rgb(255, 255, 255);
   
}

.nav-principais:hover{
    display:block;
}



