
    body {
        font-family: Arial, sans-serif;
         margin: 0;
         padding: 0;
    }
                
    p {
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 18px;
    }
                        
     header {
        background-color: #e41515;
        color: #fff;
        padding: 20px;
        text-align: center;
    }
                        
    h1 {
        margin: 0;
    }
                
    img {
        width: 20;
        height: 15;
    }
                        
    main {
        padding: 20px;
    }
                        
    footer {
        background-color: #d41111;
        color: #fff;
        padding: 20px;
        text-align: center;
    }
    #link {
        color: white;
    }
    #lado {
        padding: 20px;
        font-size: 18px;
    }
